/* Primary */
body { 
    height: 100vh;
}

ul { 
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

a { 
    text-decoration: none;
    color: black;
}
/* IDs and Classes */
.menu { 
    display: flex;
    justify-content: space-between;
    padding: 10px;
}