@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Primary */
body { 
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

ul { 
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

a { 
    text-decoration: none;
    color: black;
}

img { 
    width: 300px;
}

/* IDs and Classes */
.menu { 
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.container-one { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading { 
    font-size: 48px;
    font-weight: 900;
}

.text { 
    font-size: 18px;
}