@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Primary */
* { 
    /* outline: 1px solid white; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

ul { 
    list-style: none;
    display: flex;
    gap: 16px;
}

a { 
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

img { 
    width: 500px;
    height: 225px;
}

header { 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* IDs and Classes */
.container-one { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 50vh;
}

.box { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    width: 1002px;
}

.heading { 
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.text { 
    font-size: 18px;
    color: #e5e7eb;
}

.content { 
    width: 420px;
}

.title { 
    font-size: 24px;
    color: #f9faf8;
    cursor: pointer;
}

header, .container-one { 
    background-color: #1f2937;
}

.text, #btn-one { 
    margin-top: 12px;
}

#btn-one { 
    padding: 8px 33px;
    border: 0;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 600;
}